@import '../../../variables';

.artist-header {
  padding-bottom: $twenty-px;
  margin-bottom: $twenty-px;
  border-bottom: solid 1px $primary-color;

  .artist-thumb {
	  width: 80px;
	  height: auto;
	  float: left;
	  margin-right: 10px;
	}
}

.artist-albums .well {
  margin-bottom: $twenty-px;
  overflow: auto;
  min-height: 350px;
}

.artist-name {
	width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: whitesmoke;
  font-size: 18px;
  padding-bottom: 18px;
}